

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

.seclang{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1133px;
    margin: auto;
}

.secframe{

    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1133px;
    margin: auto;
    flex-direction: row-reverse;

}





.navbar{
    padding: 0;

}

.small-icon{
    border-radius: 50%;
    padding-right: 30px;
}
.container-fluid{
    

    padding-left: 30%;
    background-color: #e0ebe8;


  }

.nav-link{
    font-family: 'Merriweather', serif;
    color: #11999E; 
    font-size: 1.3rem;

}
ul{
    text-align: left;
}


h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color:  #66BFBF;
}

h2{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color:  #66BFBF;
    font-weight: normal;
    padding: 10px;
    text-align: center;

}

#cando{
    color: #1e836c;
    text-align: center;
    font-size: 2.8em;
    font-weight: 400;
}

#headpara{
    line-height: 1;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.h3lang{
    padding-bottom: 25px;
}

p{
    line-height: 2;

}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
div.top-continer{
    /* max-width: 100%; */

    background-color: #e0ebe8; 
    position: relative;
    padding-top: 100px;

}


.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
    height: auto;
    transition: all 1s ease-in-out;

}

.top-cloud {    
     position: absolute;
     top: 40px;
     height: auto;
     right: 300px;
     transition: all 1s ease-in-out;

}

/* .mountain{
    position: relative;
    top: 35px;


} */

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;


}

.image1{
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 50%;
    text-align: left;
    margin: 3em 0 6em;
    
}

.image2{
    width: 25%;
    float: right;
    margin-left: 30px;
}



.bottom-container{

    background-color: #e0ebe8;
    padding: 50px 0 20px 0;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;

}

a:hover{
    color: #EAF6F6;
}

.middle-container{
    margin: 100px 0;
}

.intro{
    width: 30%;
    margin: auto;
}

.pro{
    text-decoration: underline;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #EAF6F6;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;

  }

.copyright{
    color: #66BFBF;
    font-size: 0.75rem;
    padding: 20px 0;
}

.mountain{
    max-width: 100%; ;
}



/* Work!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.w-cloud{
   
    transition: all 1s ease-in-out;
    margin-right: 50%;
}

.wr-cloud{
    
    transition: all 1s ease-in-out;
    margin-left: 50%;
}



.work-img{
    
    background-color: #e0ebe8;
    margin: 0;
}

.title-flag{
    padding-left: 85px;
    padding-right: 100px;
}


.underc{
    margin: 0;
}




























/* media TABS starts */

@media (max-width: 1202px) {

    .navbar{
        position: static;
        padding: auto;
        width: 130%;
        
    }

    .bottom-cloud {
        padding-bottom: 10px;
        padding-left: 106%;
        transform: translateX(-50%) translateY(50%);
        transition: transform 0.10s ease-out;
    }


    .top-cloud {
        
        padding-right: 90%;
        transform: translateX(50%) translateY(-50%);
        transition: transform 0.10s ease-out;
    }

    .small-icon {
      
        width: 104px;

        margin-left: 49px;
    }



}





/* Media for mobiles starts */


@media (max-width: 400px) {
    .bottom-cloud {
        padding-bottom: 166%;
        padding-left: 35%;
        transform: translateX(-50%) translateY(50%);
        transition: transform 0.10s ease-out;
    }

    h1 {
        margin-top: 20%;
    }

    .top-cloud {
        
        padding-right: 10%;
        transform: translateX(50%) translateY(-50%);
        transition: transform 0.10s ease-out;
    }
    .image1{
        margin-left: 55px;
        width: 39%;
    }

    .image2 {
        margin-left: 55px;
        width: 76px;
        margin-right: 46px;}

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }
    .navbar{
        position: static;
        
        text-align: center;
        
    }
    .container-fluid{
        padding-left: 107px;
    }

        
       
    .small-icon {
      
        width: 104px;

        margin-left: 49px;
    }
    
   
    

}

